JWT_SECRET_BASE64:Zmdoa2xreTc4dTY1NHRkZmdqa2x1Nzk4NzY1cjY1ZHJ0aGZsNzk4N3Q2

ADMIN_BOOTSTRAP_LOGIN:firkat
ADMIN_BOOTSTRAP_PASSWORD:petrikor

DATASOURCE_URL:jdbc:postgresql://localhost:5432/delivery
DATASOURCE_LOGIN:postgres
DATASOURCE_PASSWORD:postgres

YANDEX_GEOCODER_ENABLED:true
YANDEX_GEOCODER_API_KEY:4f410ed7-fce4-441a-a59d-6dae81e7c77f
YANDEX_GEOCODER_BASE_URL:https://geocode-maps.yandex.ru/v1
YANDEX_GEOCODER_LANG:ru_RU
YANDEX_GEOCODER_KIND:house
YANDEX_GEOCODER_RESULTS:1
YANDEX_GEOCODER_CONNECT_TIMEOUT_MS:3000
YANDEX_GEOCODER_READ_TIMEOUT_MS:10000

YANDEX_SUGGEST_MAP_KEY:8c6cf2a5-83c3-40a9-9e75-62336d6021ad
YANDEX_SUGGEST_URL:https://suggest-maps.yandex.ru/v1/suggest

YANDEX_DELIVERY_ENABLED:true
YANDEX_DELIVERY_TOKEN:y0__xDz7IDpBxix9BwgsbvipxQcVRrDkoghCvE8WlrVcBDH5m9vJw
YANDEX_DELIVERY_BASE_URL:https://b2b-authproxy.taxi.yandex.net
YANDEX_DELIVERY_SOURCE_STATION_ID:6c1f74ba-9905-40bd-a624-602f2adc951f
YANDEX_DELIVERY_SOURCE_PICKUP_INTERVAL_HOURS:24
YANDEX_DELIVERY_DEFAULT_PLACE_WEIGHT_GRAMS:100
YANDEX_DELIVERY_DEFAULT_PLACE_LENGTH_CM:10
YANDEX_DELIVERY_DEFAULT_PLACE_HEIGHT_CM:10
YANDEX_DELIVERY_DEFAULT_PLACE_WIDTH_CM:10
ANDEX_DELIVERY_CONNECT_TIMEOUT_MS:3000
YANDEX_DELIVERY_READ_TIMEOUT_MS:10000

SERVER_PORT:8080

TELEGRAM_TOKEN:8409884993:AAG9_9vanV87ZECjHetjbKcGtERonrq1pZU
TELEGRAM_BOT_NAME:food_box_test_bot
TELEGRAM_ENABLED:true
TELEGRAM_DEFAULT_CHAT_IDS:-4711394741

BASE_URL:http://localhost:8080

S3_ENDPOINT:https://storage.yandexcloud.net
S3_REGION:ru-central1
S3_ACCESS_KEY:todo
S3_SECRET_KEY:todo
S3_BUCKET:firkat-images
S3_PATH_STYLE_ACCESS:true
S3_PUBLIC_BASE_URL:todo

MEDIA_UPLOAD_ALLOWED_CONTENT_TYPES:image/jpeg,image/png,image/webp
MEDIA_UPLOAD_MAX_FILE_SIZE_BYTES:10485760
MEDIA_UPLOAD_PRESIGN_DURATION_MINUTES:15
MEDIA_PROCESSING_THUMB_WIDTH:400
MEDIA_PROCESSING_THUMB_HEIGHT:400
MEDIA_PROCESSING_THUMB_QUALITY:80
MEDIA_PROCESSING_CARD_WIDTH:800
MEDIA_PROCESSING_CARD_HEIGHT:800
MEDIA_PROCESSING_CARD_QUALITY:85
MEDIA_PROCESSING_MAX_ATTEMPTS:3
MEDIA_PROCESSING_RETRY_DELAY_SECONDS:30
MEDIA_PROCESSING_WORKER_POLL_INTERVAL_MS:5000
MEDIA_PROCESSING_WORKER_BATCH_SIZE:5

VIRTUAL_TRY_ON_FASHN_ENABLED:true
FASHN_API_KEY:FASHN_API_BASE_URL:https://api.fashn.ai
VIRTUAL_TRY_ON_WEBHOOK_BASE_URL:todo
VIRTUAL_TRY_ON_WEBHOOK_SECRET:todo
VIRTUAL_TRY_ON_CONNECT_TIMEOUT_MS:3000
VIRTUAL_TRY_ON_READ_TIMEOUT_MS:15000